{% include "header.htm" with howtoClass="active" %}
   	   		<p class="text-center"><h1>Hello, Todo-Maker!</h1>
    			This site will show you the steps to make your own todo.
			</p>
    	
    		<p class="text-center"><h3>Step One</h3>
    			Move to "MakeTodo" and open it.
    		</p>    	
    	
    		<p class="text-center"><h3>Step Two</h3>
    			Fill the name of your todo, the deadline of your todo,<br />
    			 a description and the curent state.
    		 </p>
    	
    		 <p class="text-center"><h3>Step Three</h3>
    			 Submit and magic happends. If you want to change the infos,<br />
    			 then click edit on the front page.
    		 </p>

{% include "footer.htm" %}