{% include "header.htm" with startClass="active" %}
        <h1>Tasks</h1>
		<a href="/add" class="btn btn-default">Add task</a>
			<div id="no-more-tables">
		    <table class="table table-responsive table-striped">

		        <thead>

		            <tr>
						
						 <th>Title</th>
						
						<th>Status</th>

		               

		                <th>Deadline</th>

		                <th>Description</th>
                
						<th>Edit</th>
					
						<th>Delete</th>
		            </tr>

		        </thead>

		        <tbody>


				{% if todos %} 
	            {% for todo in todos %}           
		            <tr {% if todo.status >= 100 %} class="success" {%endif%}>
				
		                
                
		                <td data-title="Title: ">{{todo.title}}</td>
						
						<td data-title="Status: ">{{todo.status}}%</td>

		                <td data-title="Deadline: ">{{todo.deadline}}</td>

		                <td data-title="Description: ">{{todo.description}}</td>
					
						<td class="todo-edit"> <a href="/{{todo.id}}" class="btn btn-default">Edit</a></td>    
	            
			            <td class="todo-delete"> <a href="/delete/{{todo.id}}" class="btn btn-danger">Delete</a> </td>
		         
			       			                
            
		            </tr>
					{% endfor %}

				{% else %}
				<td>Im Moment existieren keine Todos.</td>
				{% endif %}
		        </tbody>

		    </table>
	</div>
      

{% include "footer.htm" %}
